<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addregistration">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adddeposit">Add deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addwithdraw">Withdraw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registrationlist">Registration List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/depositlist">Deposit List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/withdrawlist">Withdraw List</a>
        </li>

    </ul>
</nav>
<br/>
<h1>Registration</h1>
<table >
    <tr>

        <th>Account ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th> Description</th>



    </tr>
    <tr th:each="Registration : ${registrations}">
        <td th:text="${registration.accountID}">
        <td th:text="${registration.name}">
        <td th:text="${registration.phone}">
        <td th:text="${registration.description}">

        </td>

        <td>

            <a th:href="@{/updateregistration/{id}(id=${registration.accountID})}">Update</a>
            <a th:href="@{/detailregistration/{id}(id=${registration.accountID})}">Details</a>
            <a th:href="@{/deleteregistration/{id}(id=${registration.accountID})}">Delete</a>
        </td></tr>
</table>

<h1>Deposits</h1>

<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deposit Amount</th>
        <th>Deposit Balance</th>
    </tr>

    <tr th:each="deposit : ${deposits}">
        <td th:text="${deposit.id}"></td>
        <td th:text="${deposit.name}"></td>
        <td th:text="${deposit.depositAmount}"></td>
        <td th:text="${deposit.depositBalance}"></td>
        <td>

            <a th:href="@{/updatedeposit/{id}(id=${deposit.id})}">Update</a>
            <a th:href="@{/detaildeposit/{id}(id=${deposit.id})}">Details</a>
            <a th:href="@{/deletedeposit/{id}(id=${deposit.id})}">Delete</a>

        </td>
    </tr>

</table>

<h1>Withdraws</h1>

<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Withdraw Amount</th>
        <th>Account Balance</th>
    </tr>

    <tr th:each="withdraw : ${withdraws}">
        <td th:text="${withdraw.id}"></td>
        <td th:text="${withdraw.name}"></td>
        <td th:text="${withdraw.withdrawAmount}"></td>
        <td th:text="${withdraw.accountBalance}"></td>
        <td>

            <a th:href="@{/updatedwithdraw/{id}(id=${withdraw.id})}">Update</a>
            <a th:href="@{/detailwithdraw/{id}(id=${withdraw.id})}">Details</a>
            <a th:href="@{/deletewithdraw/{id}(id=${withdraw.id})}">Delete</a>

        </td>
    </tr>

</table>
</body>
</html>