<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addregistration">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adddeposit">Add deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addwithdraw">Withdraw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registrationlist">Registration List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/depositlist">Deposit List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/withdrawlist">Withdraw List</a>
        </li>

    </ul>
</nav>
<br/>
<h1 >Deposits</h1>
<a href="/">Show All Deposits</a><br />
Name: <span th:text="${deposit.name}"></span><br />
Deposit Amount: <span th:text="${deposit.depositAmount}"></span><br />
Depsot Balance: <span th:text="${deposit.depositBalance}"></span><br />
<a th:href="@{/delete/{id}(id=${deposit.id})}">Delete this deposit</a>

</body>
</html>