<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addregistration">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adddeposit">Add deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addwithdraw">Withdraw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registrationlist">Registration List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/depositlist">Deposit List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/withdrawlist">Withdraw List</a>
        </li>

    </ul>
</nav>
<br/>
<h1  >Pet List</h1>
<div class="container">
    <div class="row">
        <table class="table">

            <div class="col">

            </div>
            <div class="col">



                <tr>
                    <th>Acount Id</th>
                    <th>Name</th>
                    <th>Withdraw Amount</th>
                    <th>Acount Balance</th>

                </tr>
            </div>

            <tr th:each="withdraw : ${withdraws}">
                <td th:text="${withdraw.id}"></td>
                <td th:text="${withdraw.name}"></td>
                <td th:text="${withdraw.withdrawAmount}"></td>
                <td th:text="${withdraw.accountBalance}"></td>

                <td>

                    <a th:href="@{/updatewithdraw/{id}(id=${withdraw.id})}">Update</a>
                    <a th:href="@{/detailwithdraw/{id}(id=${withdraw.id})}">Details</a>
                    <a th:href="@{/deletewithdraw/{id}(id=${withdraw.id})}">Delete</a>

                </td>
            </tr>
            <div class="col">

            </div>




        </table>
    </div>
</div>
</body>
</html>