<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addregistration">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adddeposit">Add deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addwithdraw">Withdraw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registrationlist">Registration List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/depositlist">Deposit List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/withdrawlist">Withdraw List</a>
        </li>

    </ul>
</nav>
<br/>
<h1>Withdraw Form</h1>

<form action="#" th:action="@{/processwithdraw}" th:object="${withdraw}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br/>

    Withdraw Amount :<input type="number" th:field="*{withdrawAmount}"/>
    <span th:if="${#fields.hasErrors('withdrawAmount')}"
          th:errors="*{withdrawAmount}"></span><br/>

    Account Balance:<input type="number" th:field="*{accountBalance}"/>
    <span th:if="${#fields.hasErrors('accountBalance')}"
          th:errors="*{accountBalance}"></span><br/>

    <Select  name="registration" th:field="*{registration}">
        <option th:each="registration :${registrations}"  th:value="${registration.accountID}" th:text="${registration.name}">

        </option>
    </Select>

    <input type="submit" value="Submit" />
</form>

</body>
</html>